<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Login</title>
</head>
<body>

<div>
    {% extends 'base.html' %}
    {% load staticfiles %}
    {% block title %}Manager Login{% endblock %}

    {% block content %}
        <div class="container">
            <div class="col-md-4 col-md-offset-4">
                <form class='form-login' action="/login/" method="post">

                    {% if message %}
                        <div class="alert alert-warning">{{ message }}</div>
                    {% endif %}
                    {% csrf_token %}
                    <h2 class="text-center">Welcome login</h2>

                    <div class="form-group">
                        {{ login_form.username.label_tag }}
                        {{ login_form.username }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>

                    <div class="form-group">
                        {{ login_form.captcha.errors }}
                        {{ login_form.captcha.label_tag }}
                        {{ login_form.captcha }}
                    </div>

                    <button type="reset" class="btn btn-default pull-left">Reset</button>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>

                </form>
            </div>
        </div> <!-- /container -->
    {% endblock %}
</div>

</body>
</html>