{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Dublin, sustainable city management, dashboard for city managers">
        <meta name="description" content="Dublin, Dublin City, city management, city manager">
        <title>City Manangement </title>
        <link rel="stylesheet" href={% static 'css/home.css' %}>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN-k2Z0JpTVPPzGkt61YImxgxTf4PUzk0&language=en" ></script>
        <script type="module" src={% static 'js/main.js' %}></script>
    </head>
    <body>
        <header id="header">
            <div id="header-brand"><span class="highlight">Dublin City</span> Management</div>
            <div id="header-title">Station</div>
            <div id="header-logout"><a href='logout'>Log out</a></div>
        </header>

        <section id="sidebar">
            <ul>
                <li class="sidebar-item">Station</li>
                <li class="sidebar-item">Emission</li>
                <li class="sidebar-item">Monitor</li>
                <li class="sidebar-item">About</li>
            </ul>
        </section>

        <section id="station-view" class="view">
            <div id="map"></div>
        </section>
        <section id="emission-view" class="view">
        </section>
        <section id="about-view" class="view">
        </section>
        <section id="monitor-view" class="view">
        </section>
    </body>
</html>
